*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
}
:root{
    --bg-color: #000;
    --second-bg-color: #353535;
    --text-color: #f3f3f3;
    --main-color: #ffeba3;
    --big-font: 5.3rem;
    --h2-font: 4.2rem;
    --p-font: 1.1rem;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
    padding: 15px 15%;
    transition-duration: .3s; 
}

.logo i {
    height: 55px;
    width: 55px;
    background: transparent;
    border: 2px solid #f3f3f3;
    color: #f3f3f3;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
}

.navlist{
    display: flex;
}

.navlist li{
    position: relative;
}

.navlist a{
    color: var(--text-color);
    font-weight: medium;
    font-size: 1rem;
    padding: 10px 20px;
}

.navlist li a:hover{
    color: #ffeba3;
    transition: .4s;
}

#menu-icon{
    font-size: 32px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.h-btn{
    padding: 0 20px;
    padding-bottom: 40px;
    height: 40px;
    display: inline-block;
    line-height: 42px;
    background: transparent;
    color: var(--text-color);
    border: 2px solid #f3f3f3;
    font-size: 14px;
    font-weight: 250;
    letter-spacing: 1px;
    transition: all .30s;
}

.h-btn:hover{
    background: #ffeba3;
    color: #353535;
    border: 2px solid transparent;
    transition: .4s;
    font-weight: 500;
    transform: translateY(-5px);
}
.container{
    padding: 120px 15%;
}

.home{
    height: 100vh;
    width: 100%;
    background-image: url("../images/Hero.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}
.hero-text h1{
    color: #f3f3f3;
    font-size: 48px;
    font-weight: 800;
    line-height: 0.5;
    margin: 20px 0px 20px;
}
span{
    color: #ffeba3;
}

.hero-text h3{
    color: #f3f3f3;
    font-weight: 600;
    font-size: 24px;
}
.hero-text p{
    margin-bottom: 20px;
}

.social a{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #f3f3f3;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    margin-right: 16px;
    margin-bottom: 24px;
}

.social a:hover{
    transform: scale(1.1);
    background: #ffeba3;
    transition: .4s;
    color: #353535;   
}

#center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-80%, 360%);
    text-align: center;
}
.mouse{
    display: inline-block;
    width: 24px;
    height: 40px;
    border-radius: 16px;
    border: 1.5px solid #f3f3f3;
}
.mouse:after{
    content:'';
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #ffeba3;
    animation: move 1.3s ease-out infinite forwards;
}
@keyframes move{
    0%{
        transform: translateY(0);
    }
    50%{ 
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0);
    }
}
.caption{
    margin-top: 10px;
    text-align: center;
}

.about-text button{
    color: #fff;
    background: transparent;
    font-size: 14px;
    font-weight: 400;
    line-height: 20x;
    padding: 8px 28px;
    border: 2px solid #f3f3f3;
    cursor: pointer;
}

.about-text button:hover{
    background: #ffeba3;
    border: 2px solid #ffeba3;
    color: #353535;
    transition: .4s;
}


.about{
    background: var(--second-bg-color);
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    grid-gap: 2rem;
}
.about-img{
    height: 100vh;
    width: 100%;
    background-image: url('../images/about.jpg');
    background-position-x: left;
    position: relative;
    background-size: contain;
}
.about-text h2{
    font-size: 30px;
    margin-bottom: 24px;
    letter-spacing: 2px;
}
.about-text p{
    color: var(--second-color);
    letter-spacing: 1px;
    line-height: 28px;
    max-width: 590px;
    font-size: var(--p-font);
    margin-bottom: 40px;

}
.skills{
    background: var(--bg-color);
}
.center h2{
    font-size: 30px;
    margin-bottom: 15px;
}
.skills-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 4.5rem;
}
.row{
    background: var(--second-bg-color);
    padding: 48px 32px;
    cursor: pointer;
    transition: all .35s;
}
.row h3{
    color: #f3f3f3;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
    text-transform: uppercase;
}
.row p{
    color: #f3f3f3;
    line-height: 24px;
    font-size: 14px;

}
.row:hover{
    transform: translateY(-8px);
}
.work{
    background: #000;
    padding: 80px;
}
.flex-container{
    display: flex;
    height: 600px;
    flex-wrap: wrap;
    align-content: space-between;
    cursor: pointer;
    justify-content: space-around;
}
.box img{
    max-width: 100%;
    width: 400px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: all .30s;
}
.work center h2{
    padding: 12px;
}
.center h2{
    padding: 20px;
}
.box p{
    padding-bottom: 12px;
}
.box img:hover {
    transform: scale(1.1);
}

.footer{
    background: #000;
    color: #f3f3f3;
}
.footer p{
    font-size: 16px;
    color: #f3f3f3;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}
header.sticky{
    padding: 12px 15%;
    background: #000;
    }
.sticky .nav-list li a:hover{
    background: #000;
}


@media (max-width: 1270px){
    header{
        padding: 18px 4%;
        transition: .2s;
    }
    header.sticky{
        padding: 10px 4%;
        transition: .2s;
    }
    section{
        padding: 80px 4%;
        transition: .2s;
    }
    :root{
        --big-font: 4.8rem;
        --h2-font: 3.8rem;
        --p-font: 1 rem;
        transition: .2s;
    }
}
@media (max-width: 990px){
    .home{
        height: 85vh;
    }
    #menu-icon{
        display: initial;
    }
    .navlist{
        position: absolute;
        top: -700px;
        left: 0;
        right: 0;
        flex-direction: column;
        background: #000;
        text-align: center;
        transition: all .30s;
    }
    .navlist a{
        display: block;
        padding: 1.1rem; 
        margin: 1.3rem;
        border-left: 2px solid #f3f3f3;
    }
    .navlist a:hover{
        color: #ffeba3;
    }
    .navlist .active{
        top: 100%;
    }
    .about{
        grid-template-columns: 1fr;
    }
    .about-img{
        text-align: center;
        margin-bottom: 30px;
    }
    .about-img img {
        max-width: 100%;
        width: 700px;
        height: auto;
    }
    .contact{
        grid-template-columns: 1fr; 
    }
    .contact-img{
        max-height: auto;
        text-align: center;
        margin-bottom: 24px;
    }
    .contact-form{
        max-width: 100%;
        width: 360px;
        order: 2; 
    }
    .box img{
        max-width: 100%;
        width: 480px;
        height: auto;
    }
}
.contact{
    background: #353535;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    grid-gap: 3rem;
}
.contact-img{
    height: 100vh;
    width: 100%;
    background-position-x: right;
    position: relative;
    background-size: contain;
}
.contact-form h2{
    font-size: 30px;
    margin-bottom: 15px;
    margin-left: 24px;
}
.contact-form p{
    color: #fff;
    letter-spacing: 1px;
    line-height: 24px;
    font-size: 12px;
    margin-bottom: 4.1rems;
    margin-left: 24px;
}
.contact-form form input, form textarea{
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    background: #000;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    margin-left: 24px;
}
.contact-form textarea{
    resize: none;
    height: 200px; 
}
.contact-form form .send{
    display: inline-block;
    background: #ffeba3;
    color: #353535;
    font-size: 16px;
    font-weight: 600;
    width: 120px;
    transition: ease .35s;
    text-transform: uppercase;
}
.contact-form form .send:hover{
    transform: translateY(-8px);
    cursor: pointer;
}